* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #96CBDA;
}

button {
    padding: 1%;

}


/*.navigation-bar {
    
    display:flex; 
    align-items: end;
}*/
.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
}

.header-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.cart-nav {

    border: solid 1px red;
    border-radius: 50%;

    background-image: url(Media/cart\ icon.png);
}