.nav-link {
    color: #fff;
}

.navbar {
    background-color: #96CBDA;
}

.nav__logo {
    display: flex;
    justify-content: center;
    width: 30%;
}

#navbarSupportedContent {
    font-size: 1.5rem;
}

.nav__btn--search {
    /* width: 6%; */
    /* height: 6.8vh; */
}

.nav__cart {
    width: 70%;

}

.nav__cart--button {
    width: 6%;
    height: 6.8vh;
    margin-left: 1%;
}


.header__carousel--first {
    height: 70.5vh;
    margin: 1%;
}

.header__carousel--second {
    height: 70.5vh;
    margin: 1%;
}

.header__carousel--third {
    height: 70.5vh;
    margin: 1%;

}

.main__prod {
    margin: 1%;
}

.main__prod--first {
    border-radius: 70%;
}

.main__prod--third {
    border-radius: 70%;
}

.footer {
    margin-top: 2%;
    background-color: #96cad9;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.footer__logo {
    height: 20vh;
}

.footer div {

    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 2% 1%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer a:hover {
    background-color: #0400ff;
}

.footer__youtube {
    height: 8vh;
}

.footer__devs {
    padding: 0;
    display: grid;
    flex-direction: column;
    align-items: center;
}



/* Estilo do formulário de contato */
main h2 {
    background-color: #96CBDA;
    color: #fff;
    margin: 2% 0;
    justify-content: center;
    text-align: center;

}

.formularioContato {

    max-width: 600px;
    height: auto;
    float: none;
    margin: auto;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 6px;
    background: #fff;
    box-shadow: 1px 0px 1.2px 0px #ccc;
    position: relative;
}

.formularioContato:before {

    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    content: "";
    position: absolute;
    left: 6%;
    top: -4.5%;
    margin-top: -4px;
    margin-left: 6px;
    z-index: 2;

}

.formularioContato label {

    float: left;
    width: 100%;
    margin-bottom: 1.2em;

}

.formularioContato label span {

    width: 100%;
    float: left;
    color: #999;
    margin-bottom: 6px;
    font-family: 'open_sansregular';

}

.formularioContato label input {

    font-size: 1em;
    color: #555;
    font-family: 'open_sansregular';
    outline: none;
    border: 1px #dee5ed solid;
    border-radius: 4px;
    padding: 0.6em;
    transition: 0.3s;

}

.formularioContato label select {

    font-size: 1em;
    color: #555;
    border: 1px #dee5ed solid;
    border-radius: 4px;
    padding: 0.6em;
    outline: none;
    transition: 0.3s;

}

.formularioContato label textarea {

    font-size: 1em;
    color: #555;
    border: 1px #dee5ed solid;
    border-radius: 4px;
    padding: 0.6em;
    outline: none;
    transition: 0.3s;

}

.formularioContato label input:focus {
    box-shadow: 0 0 5px 0px rgb(178, 216, 231);
    border: 1px rgb(37, 174, 230) solid;
    color: rgb(37, 174, 230);
}

.formularioContato label select:focus {
    box-shadow: 0 0 5px 0px rgb(178, 216, 231);
    border: 1px rgb(37, 174, 230) solid;
}

.formularioContato label textarea:focus {
    box-shadow: 0 0 5px 0px rgb(178, 216, 231);
    border: 1px rgb(37, 174, 230) solid;
    color: rgb(37, 174, 230);
}

.formularioContato button.btn-envia {

    background-color: #96CBDA;
    width: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 0.8em 0em;
    color: #fff;
    font-size: 1.3em;
    font-family: 'open_sansbold';
    text-align: center;
    transition: 0.3s;

}

.formularioContato button.btn-envia:hover {

    background-color: #333;

}