button {
    padding: 5%;
    
}


.navigation-bar {
    
    display:flex; 
    align-items: end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-items: flex-end;
    background-color: rgb(150, 203, 218);
   
}
.nav-list {
    display: inline-flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.header-list {
    display: flex;
    list-style-type: none;
    align-items: end;
    justify-content: end;
    gap: 15px;
}
.cart-nav:hover {
    color: blue;
    border: solid 1px red;
    border-radius: 100%;
    padding: 0.05%;
    background-image: url(Media/cart\ icon.png);
    
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;

}

.text-header {
    display: grid;
    align-items: center;
    justify-items: center;

}

.table-1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: 
    "div1 div2"
    "div3 div4";
    justify-items: center;



}

.footer {
    background-color: #96CBDA;
    
}

.header {
    background-color: #96CBDA;
}

.table-2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5px;
    justify-items: start;
    align-content: start;
    grid-template-areas:
    "divgrid1 divgrid3 divgrid5"
    "divgrid2 divgrid4 divgrid6"
    "divgrid7 divgrid9 divgrid11"
    "divgrid8 divgrid10 divgrid12"
    "divgrid13 divgrid15 ."
    "divgrid14 divgrid16 .";
    

}

.tadafila {
    display: flex;
    background-color: #ffff;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;

}

.pomoda {
    display: flex;
    background-color: #ffff;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;

}
 .estamos {
    display: flex;
    background-color: #ffff;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;

 }
